<!DOCTYPE html>
<html>

<head>
    <title>Snowtooth : ERROR</title>
</head>

<body>
<div id="wrapper">

    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>

</div>
</body>

</html>